@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@import url('./PokedexHomeStyles/PaginationPokemon.css');
@import url('./PokedexHomeStyles/PokedexCard.css');
@import url('./PokedexHomeStyles/PokedexMainScreen.css');
@import url('./PokedexStartStyles/PokedexStart.css');
@import url('./PokedexSettingsStyles/PokedexSettings.css');
@import url('./loginFormsStyles/LoginExistingUser.css');
@import url('./loginFormsStyles/LoginNewUser.css');
@import url('./infoPokemonStyles/PokemonInfo.css');
@import url('./follows/follows.css');
@import url('./follows/seePokemonFollows.css');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}

:root{
  --bg-color-principal: #fdfdfd;
  --color-principal: #000;
  --shadow-principal: #aeadad;
  --shadow-second: #888787;
  --color-cards: #fff;
  --bg-inputs: #fff;
  --color-inputs-text: #410cde;
  --change-color-btn: #3b19e3;
  --change-color-border-btn: #6118e0cd;
  --change-color-bg-btn: #25f2bf;
  --input-color-search: #1DF78B;
  --input-color-search-focus: #bef9be;
}
.change-color {
  --bg-color-principal: #070119;
  --color-principal: #fff;
  --shadow-principal: #6b6a6a;
  --shadow-second: #333131;
  --color-cards: #111111;
  --bg-inputs: #000;
  --color-inputs-text: #25f2bf;
  --change-color-btn: #06c46b;
  --change-color-border-btn: #0dcc69cd;
  --change-color-bg-btn: #410cde;
  --input-color-search: #4d17e2;
  --input-color-search-focus: #936dfa;
}
/* boton de configuraciones */
.page__settings{
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--change-color-bg-btn);
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 9px var(--color-principal);
} 
.page__settings--icon {
  color: #ffffff;
  font-size: 1.7rem;
  transition: .6s;
  padding: .7rem;
}
.page__settings--icon:hover{
  transform: rotate(-360deg);
}

body::-webkit-scrollbar {
  width: .3rem;
  background-color: #0f150f;
  border-radius: 10px;
  border: #000;
}
body::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 10px;
  background-color: #7f4ff9;
  border: #000;
}