/* contenido general de card */
.container__card{
  width: 100%;
  height: auto;
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 9rem;
}
/* la card que muestra la información de los pokemones */
.card-pokedex{
  background-color: rgb(105, 55, 243);
  width: 12rem;
  height: 13rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: .7s;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}
.card-pokedex:hover{
  transform: scale(1.1);
}
/* el nomebre de cada pokemon */
.card__tittle{
  font-size: 17px;
  padding-bottom: 7px;
  position: relative;
  left: 5px;
  color: #fff;
}
/* lista de atributos de los pokemones */
.card__list{
  list-style: none;
  position: relative;
  right: 12px;
}
.card__container--list{
  background-color: rgba(255, 255, 255, 0.299);
  margin: 2px auto;
  border-radius: 3px;
  width: fit-content;
  padding: 1px 9px;
  display: inline-block;
}
.p-type{
  display: inline-block;
  width: 2.3rem;
}
.card__list--li{
  font-size: 12px;
  padding: 3px 0;
  color: #fff;
}
.card__list--hp{
  padding: 2px 5px;
}

#pokemon__img {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 4rem;
  left: 6rem;
  /* background-color: aqua; */
}
