/* Contenedor general */
.PokemonInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-principal);
}
/* Información de la página y del pokemon */
.pokemon{
  position: relative;
  width: 70%; 
}
/* Logo pokemon */
.pokemon__logo{
  position: absolute;
  top: -1.4rem;
  left: -8rem;
  width: 22rem;
  height: 14rem;
  background-image: url('../img/International_Pokémon_logo.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* primer grupo de cards con información */
.pokemon__catainer--grup{
  display: flex;
  margin-top: 14rem;
  width: 100%;
  gap: 1.5rem;
}
.pokemon__info{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 44.1rem;
}

/* info e imagen de la primera card */
.pokemon__info--principal{
  background-color: #ffffff;
  height: 20rem;
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  position: relative;
}
.pokemon__img{
  width: 21rem;
  height: 23rem;
  position: absolute;
  top: -9.5rem;
  left: 26%;
  animation: img-animation 1s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.pokemon__container--weight{
  width: 100%;
  position: relative;
  top: 50%;
  text-align: center;
  height: 9rem;
}
.pokemon__weight, .b1{
  padding-bottom: 3rem;
  font-weight: normal;
  font-size: 15px;
}
.height{
  font-size: 15px;
}
.b1, .b2{
  font-weight: bold;
  font-size: 20px;
}
.pokemon__container--height{
  width: 100%;
  position: relative;
  top: 50%;
  text-align: center;
  height: 9rem;
}
.pokemon__info-principal--barra{
  height: 1.5px;
  border: none;
  background-color: #c1bebe;
}
.pokemon__container--name{
  position: absolute;
  bottom: 1.8rem;
  left: 42%;
  font-size: 12px;
  background-color: #ffffff;
  padding: 0 1.5rem;
  text-align: center;
}
.pokemon__name{
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 501;
  text-shadow: 0 3px 7px #737272;
}
.pokemon__id{
  width: 100%;
  font-weight: bold;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p{
  padding: 4px 10px;
  border-radius: 3px;
  border: 1px solid #000;
}

/* info de la segunda y tercera card */
.pokemon__type--abilities{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
}
/* información de la segunda card */
.pokemon__type{
  background-color: #ffffff;
  width: 50%;
  height: 11rem;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
}
.pokemon__barra--type{
  position: relative;
  top: 2rem;
  height: 1.5px;
  border: none;
  background-color: #c1bebe;

}
.pokemon__type--tittle{
  position: absolute;
  top: 1.8rem;
  left: 37%;
  font-weight: bold;
  padding: 0 20px;
  background-color: #ffffff;
  font-size: 1.5rem;
}
.pokemon__type--container-description{
  position: relative;
  top: 5rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  transition: .5s;
}
.pokemon__type--container-description:hover{
  transform: scale(1.04);
}
.pokemon__type--complete{
  position: relative;
  width: 100%;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.pokemon__type--text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}
/* información de la tercera card */
.pokemon__abilities{
  background-color: #ffffff;
  width: 50%;
  height: 9rem;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
}
.pokemon__barra--abilities{
  position: relative;
  top: 2rem;
  height: 1.5px;
  border: none;
  background-color: #c1bebe;
}
.pokemon__abilities--tittle{
  position: absolute;
  top: 1.8rem;
  left: 30%;
  font-weight: bold;
  padding: 0 20px;
  background-color: #ffffff; 
  font-size: 1.5rem;
}
.pokemon__abilities--cotainer-description{
  position: relative;
  top: 4rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-weight: 500;
}

.pokemon__abilities--text{
  background-color: #73727200;
  box-shadow: 0 0 1.5px rgb(88, 88, 88);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
}


/* información de la cuarta card */
.pokemon__stats{
  height: 20rem;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
}
.pokemon__stats--barra{
  margin-top: 2.5rem;
  border: none;
  height: 1.5px;
  background-color: #000;
}
.pokemon__stats--tittle{
  position: absolute;
  left: 40%;
  top: 1.5rem;
  padding: 5px 15px;
  background-color: #ffffff;
}
.pokemon__stats--container{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.pokemon__stats--cotainer-statistics{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
  margin-top: 1.5rem;
}
.pokemon__stats--statistics{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.pokemon__statistics--text{
  background-color: #c4c1c1;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #454343;

}
.pokemon__div--barra{
  width: 70%;
  background-color: #d2d1d1;
  border-radius: 5px;
}
.pokemon__font-barra{
  width: 90%;
  height: 25px;
  background-color: #eb5510e0;
  border-radius: 5px 20px 20px 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: #efebeb;
  position: relative;
}
.pokemon__animation--barras {
  width: 80%;
  height: 100%;
  /* animation: colorAnimation 1s infinite; */
}
.pokemon__animation--barras::after{
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  animation: colorAnimation 2s ease infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: colorAnimation;
}

/* segundo grupo de cards con información */
.pokemon__info--secundaria{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pokemon__encounters{
  background-color: #c5c3c3;
  height: 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pokemon__encounters:hover{
  background-color: #959393;
}
.pokemon__encounters--p{
  padding-left: 10px;
}
.pokemon__movements{
  background-color: #ffffff;
  width: 15rem;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon__movements--hr1{
  margin-top: 2rem;
  background-color: #b1b1b1;
  width: 90%;
  height: .01px;
}
.pokemon__movements--tittle{
  position: relative;
  bottom: 19px;
  font-size: 23px;
  background-color: #fff;
  padding: 0 10px 15px 10px;
}
.pokemon__movements--cotainer-p{
  width: 40%;
  font-size: 13px;
  text-align: center;
  margin-top: 2px;
  transition: .3s;
}
.pokemon__movements--cotainer-p:hover{
  transform: scale(1.04);
  font-weight: 600;
}
.pokemon__movements--hr2{
  border: none;
  height: .1px;
  margin: 6px 0;
  width: 100%;
  background-color: rgb(205, 200, 200);
}


@keyframes img-animation {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-12px);
  }
  100%{
    transform: translateY(0);
  }
}