/* contenido general de card */
.container__card{
  width: 100%;
  height: auto;
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 9rem;
}
/* la card que muestra la información de los pokemones */
.card-pokedex{
  /* background-color: #37f3a5; */
  width: 12rem;
  height: 13rem;
  transition: .7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.card-pokedex:hover{
  transform: scale(1.1);
}
/* lista de atributos de los pokemones */
.card__pokedex--container{
  border-radius: 10px;
  width: 98%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__list{
  list-style: none;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  opacity: 0;
  transition: 1.2s;
  bottom: -.1rem;
}
.card__list:hover{
  border-radius: 10px;
  opacity: 100%;
  background-color: rgba(23, 23, 23, 0.881);
}
.card__tittle--ul{
  /* top: 10px; */
  padding-top: 10px;
}
#pokemon__img2{
  width: 5rem;
  height: 5rem;
  position: relative;
  bottom: 2.5rem;
  left: 70%;
}

/* el nomebre de cada pokemon */
.card__tittle{
  font-size: 17px;
  padding-bottom: 7px;
  position: relative;
  left: 5px;
  color: #fff;
}
.card__container--list{
  background-color: rgba(255, 255, 255, 0.299);
  margin: 3px auto;
  border-radius: 3px;
  width: fit-content;
  padding: 1px 9px;
  display: inline-block;
}
.p-type{
  display: inline-block;
  width: 2.4rem;
}
.card__list--li{
  font-size: 12px;
  padding: 3px 0;
  color: #fff;
}
.card__list--hp{
  padding: 2px 5px;
}

#pokemon__img {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 2.5rem;
}
