/* contenedor general de page */
.container__page{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  gap: 1rem;
  background-color: var(--bg-color-principal);
  color: var(--color-principal);
}
/* titulo */
.page__tittle{
  font-size: 26px;
}
/* header */
.page__form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.page__form--tittle{
  font-size: 18px;
}
.page__content-image{
  display: flex;

}
img{
  width: 15rem;
  height: 23rem;
  
}
/* input del name */
.page__form--input{
  width: 50%;
  padding: .9rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--color-cards);
  box-shadow: 0 0 10px var(--shadow-second);
  color: var(--color-inputs-text);
  font-size: 19px;
  outline: none;
  font-weight: bold;
}

.page__form--input:focus{
  border: 2px solid var(--change-color-border-btn);
}
.btn-submit{
  font-size: 3.7rem;
  position: relative;
  left: 20.9%;
  bottom: 4.7rem;
  color: var(--change-color-btn);
  background-color: transparent;
  border: none;
  cursor: pointer; 
}

