.PokedexMainScreen{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-principal);
  color: var(--color-principal);
}

/* Container general de main-screen */
.main-screen{
  width: 78%;
  padding: 4rem 3rem;
} 
/* titulo */
.main-screen__tittle{
  padding-bottom: 2rem;
  font-size: 2.5rem;
}
/* Inputs  */
.main-screen__container--select{
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22rem;
  height: 5rem;
  left: 30%;
}
.pokemon__follows{
  width: 2.5rem;
  height: 2.5rem;
  position: sticky;
  top: 10rem;
  right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: .6rem;
  font-size: 19px;
}
.pokemon__follows p {
  font-weight: bold;
  color: var(--color-principal);
}
/* input select */
.main-screen__select{
  width: 100%;
  height: 3.5rem;
  border-radius: 4rem;
  font-size: 18px;
  padding-left: 1.4rem;
  border: none;
  outline: none;
  background-color: var(--bg-inputs);
  box-shadow: 0 0 10px var(--shadow-second);
  color: var(--color-principal);
  transition: 1s;
}
.main-screen__select::-webkit-scrollbar{
  border-radius: 10rem;
  background-color: rgb(208, 205, 205);
  width: 10px;
}
.main-screen__select::-webkit-scrollbar-thumb{
  background-color: #38ec38;
  border-radius: 10rem;
}
/* input text */

.namePokemon-input{
  width: 3.5rem;
  height: 3.5rem;
  transition: 1s;
  border-radius: 100%;
  border: none;
  outline: none;
  color: transparent;
  position: relative;
  left: 20%; 
  z-index: 2;
}
.shrunken{
  width: 20rem;
  height: 2.9rem;
  border-radius: 10rem;
  background-color: var(--input-color-search);
  background-size: 8%;
  background-position: right;
  padding-left: 1.5rem;
  font-size: 20px;
  font-weight: bold;
  color: #000; 
  position: relative; 
  transition: 1s;
  border: none;  
  outline: none;
}
.btn__pokemon--search1{
  z-index: 5;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background-image: url('../img/lupa.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px; 
  right: 8.6rem;
  transition: .35s;
  border: none;
  cursor: pointer;
}
.btn__pokemon--search2{
  z-index: 5;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-image: url('../img/lupa.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px; 
  top: 1rem;
  right: 1rem;
  border: none;
  transition: .7s;
  cursor: pointer;
}

.namePokemon-input:focus{
  border: none;
  background-color: var(--input-color-search-focus);
} 
.encogido:focus{
  border: none;
}

/* boton para ir al inicio */
.btn-exit{
  position: fixed;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #ec3847;
  top: 6rem;
  right: 2.5rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 4px rgb(40, 40, 40);
}

.fa-sharp:hover{
  animation: translateYExit .7s infinite;
}

/* Tipo de búsqueda */
.main-screen__cantainer--type-pokemon{
  width: fit-content;
  height: 3rem;
  position: absolute;
  top: 12rem;
  left: 44.8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-pokemon__catainer{
  display: flex;
  gap: 10px;
}
input[type=checkbox] {
  position: absolute;
  left: 10px;
  display: none;
}
.type-pokemon__catainer input[type=checkbox] + label{
  width: 4.5rem;
  height: 1.5rem;
  background-color: #fa311e;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  transition: background-color 1s;
}
.type-pokemon__catainer input[type=checkbox]:checked + label{
  background-color: #03ac1a;
}
.main-screen__cantainer--type-pokemon .type-pokemon__catainer label::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: #d9d9d9;
  display: inline-block;
  border-radius: 100%;
  position: absolute;
  top: -3px;
  left: 0;
  transition: left .5s;
}
.main-screen__cantainer--type-pokemon input[type=checkbox]:checked + label::before{
  position: absolute;
  left: 56%;
}



@keyframes translateYExit {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(4px);
  }
  0% {
    transform: translatex(0);
  }
}