/* contenido general de card */
.container__card{
  width: 100%;
  height: auto;
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem 3rem;
  padding-bottom: 3rem;
}
/* la card que muestra la información de los pokemones */
.card-pokedex{
  width: 13rem;
  height: 15rem;
  transition: .7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #999898;
  box-shadow: 0 0 12px #8d8c8c;
  background-image: url('../img/d0a6b-pikachu-ball-png.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--input-color-search);
}

.card-pokedex:hover{
  transform: scale(1.1);
}
.card-pokedex:hover .card__list{
  clip-path: circle(150% at top right);
  background-color: rgba(23, 23, 23, 0.881);
  border-radius: 10px;
  opacity: 100%;
}
.card-pokedex > p {
  width: 2.5rem;
  height: 1.4rem;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 2px 2px 7px rgb(52, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position: absolute;
  top: 3px;
  right: -8px;
  z-index: 5;
}
/* lista de atributos de los pokemones */
.card__pokedex--container{
  border-radius: 10px;
  width: 98%;
  height: 98%;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.card__list{
  list-style: none;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  clip-path: circle(0 at top right);
  transition: .7s;
  bottom: -.1rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 5rem;
}


#pokemon__img {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 2.5rem;
  animation: scale-img-pokemon 1.7s infinite;
  animation-timing-function: ease-in-out;
}
.card__tittle--ul{
  padding-top: 4rem;
}
#pokemon__img2{
  width: 5rem;
  height: 5rem;
  position: relative;
  bottom: 1.5rem;

  left: 70%;
  animation: slide-img-pokemon 6s infinite;
}
/* el nomebre de cada pokemon */
.card__tittle{
  font-size: 20px;
  padding-bottom: 17px;
  position: relative;
  left: 5px;
  color: #fff;
  z-index: 5;
}
.card__barra--tittle--hr{
  width: 90%;
  height: 10px;
  border: none;
  position: relative;
  top: -10px;
  background-color: #fff;
}
.card__content{
  width: 65%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card__container--list{
  margin: 3px auto 8px auto;
  border-radius: 3px;
  width: 3.5rem;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__container--list > p {
  font-weight: 800;
  color: #fff;
}
.p-type{
  display: inline-block;
  width: 2.4rem;
}
.card__list--li{
  font-size: 12px;
  font-weight: 400;
  padding: 3px 0;
  color: #fff;

}
.card__list--hp{
  padding: 2px 5px;
}
.card__type--info-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
}
.card__scale{
  transition: 1s;
}
.card__scale:hover{
  transform: scale(1.1);
}
.card__type--info-text > b{
  color: #ffffff;
  font-size: 14px;
  text-shadow: 0 0 2px #fff;
}
.card__type--text-content{
  width: 90%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}
.card__type--text{
  width: 50%;
  height: 1.7rem;
  display: flex;
  align-items: center;
  column-gap: 6px;
  background-color: #7E697E;
  border-radius: 2.3px;
}
.pokemon__type--description{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
.icon-card{
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 7px #fff;
  color: #ffffff;
  text-shadow: 0 0 3px #000000;
}
.card__type--complete{
  width: 50%;
  height: 1.7rem;
  padding: 0 15px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
  background-color: #7E697E;
  border-radius: 2.3px;
}

@keyframes scale-img-pokemon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }

}
@keyframes slide-img-pokemon {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-60%);
  }

}
